# coding=utf-8
# Environment variables, accesible using `catalogo_db.S.VARIABLE`.
# 
# The precedence order is given by:
#   1) defaults, as defined in
#     `catalogo_db.settings.config`, which can be overriden by
#   2) variables set with the same name in this file, which can be overriden by
#   3) settings class initialization, eg: ``
# This means 3 overrides 2, and 2 overrides 1
#
# See Also: https://pydantic-docs.helpmanual.io/#settings

# ENV: execution mode of the project: development/testing/production
ENV=development
